<!DOCTYPE html>

<html>

	<head>
		<title>Ruby on Rails Tutorial Sample App | About </title>


	</head>
	<body>
		<h1>About us</h1>

		<p>This is the about us page that can be found in /app/views/static_pages/about.html.erb.  This is a <a href="http://google.com">link.</a>  </p>

	</body>
</html>
